# Email settings for notifications
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

# The email address that will SEND the notifications
SENDER_EMAIL=your_email@gmail.com
# Use an App Password if you are using Gmail (2FA enabled)
SENDER_PASSWORD=your_app_password_here

# The email addresses that will RECEIVE the notifications (comma separated)
RECIPIENT_EMAIL=chughshuhdit@gmail.com,shivammj080604@gmail.com
